/.build                         export-ignore
/.claude                        export-ignore
/.editorconfig                  export-ignore
/.gitattributes                 export-ignore
/.github                        export-ignore
/.gitignore                     export-ignore
/.mcp.json                      export-ignore
/CLAUDE.md                      export-ignore
/codecov.yml                    export-ignore
/composer-dependency-analyser.php export-ignore
/docs                           export-ignore
/ecs.php                        export-ignore
/etc                            export-ignore
/infection.json.dist            export-ignore
/node_modules                   export-ignore
/phpstan.neon                   export-ignore
/phpunit.xml.dist               export-ignore
/README.md                      export-ignore
/rector.php                     export-ignore
/tests                          export-ignore
/CHANGELOG.md                   export-ignore
/UPGRADE.md                     export-ignore
