{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "2.x"
        }
    },
    "minMsi": 82.84,
    "minCoveredMsi": 100.00
}
